@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins), sans-serif;
  --color-primary: #020021;
  --color-primary-foreground: #fff;
  --color-accent-foreground: #6b7280;
  --color-accent: #d8d8d8;
  --color-border: #d8d8d8;
  --color-privacy-foreground: #bcbdd4;


  --color-sucess: #15803d;
  --color-warning: #fbbf24;
  --color-destructive: #ca2a30;
}

html {
  scroll-behavior: smooth;
  @apply font-poppins;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.ql-toolbar.ql-snow {
  @apply border-none border-b;
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-editor li {
  padding-left: 1rem !important;
}

.ql-editor ol {
  padding-left: 0 !important;
}