@import "tailwindcss";
@import "tw-animate-css";


input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
  -webkit-appearance: none;
  -moz-appearance: textfield !important;
  margin: 0;
}



.hide-scrollbar::-webkit-scrollbar {
  display: none;
}




:root {
  --color-accent: #f7f7f7;
  --color-accent-foreground: #2f2f2f;
  --color-primary: #020202;
  --color-primary-foreground: #f3f3f3;

  --color-ring: #a1a1a1;
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-destructive-foreground: #ffffff;

  --color-secondary: oklch(0.967 0.001 286.375);

  --color-secondary-foreground: #2f2f2f;
  --color-muted: #f7f7f7;
  --color-muted-foreground: #8e8e8e;

  --color-muted: #f3f4f6;
  --color-hover-bg: #ede9fe;
  --color-background: #ffffff;
  --color-sidebar: #f9fafb;
  --color-foreground: #1f2937;
  --color-popover: var(--color-background);



  --font-poppins: 'Poppins', sans-serif;
  --font-sans: "Geist", sans-serif;
  --font-roboto: 'Roboto', sans-serif;

  --color-input: #d1d5db;
  --color-muted-foreground: #6b7280;


  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #252525;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #343434;
  --primary-foreground: #fbfbfb;
  --secondary: #f7f7f7;
  --secondary-foreground: #343434;
  --muted: #f7f7f7;
  --muted-foreground: #8e8e8e;
  --accent: #f7f7f7;
  --accent-foreground: #343434;
  --destructive: #ca2a30;
  --border: #ebebeb;
  --input: #ebebeb;
  --ring: #b5b5b5;
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
  --sidebar: #fbfbfb;
  --sidebar-foreground: #252525;
  --sidebar-primary: #343434;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b5b5b5;
  --surface: #fafafa;
  --surface-foreground: var(--foreground);
  --code: var(--surface);
  --code-foreground: var(--surface-foreground);
  --code-highlight: #f5f5f5;
  --code-number: #8f8f8f;
  --selection: #252525;
  --selection-foreground: #ffffff;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--color-destructive-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-code: var(--code);
  --color-code-foreground: var(--code-foreground);
  --color-code-highlight: var(--code-highlight);
  --color-code-number: var(--code-number);
  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-hover-bg: var(--color-hover-bg);
  --radius: var(--radius);
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 0.25rem);
  --radius-xl: calc(var(--radius) + 0.5rem);

}

@layer base {
  * {
    border-color: var(--border);
    outline-color: rgb(from var(--ring) r g b / 0.5);
  }

  ::selection {
    background-color: var(--selection);
    color: var(--selection-foreground);
  }

  html {
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
  }

  body {
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  [data-slot="layout"] {
    overscroll-behavior: none;
  }

  @media (min-width: 1800px) {
    [data-slot="layout"] {
      padding: 0.5rem;
    }
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    @media (min-width: 1800px) {
      [data-wrapper] {
        border-top-width: 1px;
      }
    }
  }

  a:active,
  button:active {
    opacity: 0.6;
  }

  @media (min-width: 768px) {

    a:active,
    button:active {
      opacity: 1;
    }
  }
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-editor li {
  padding-left: 1rem !important;
}

.ql-editor ol {
  padding-left: 0 !important;
}


.ql-toolbar.ql-snow {
  @apply border-none border-b;
}